<h1>My Song <%= @song.name %></h1>
<div> My Artist <%= link_to @song.artist.name[artist_id]], artist_path(@artist) %> </div>
<div> My Genre <%= link_to @song.genre.name[genre_id], genre_path(@genre) %> </div>
